<div id="name" style="float:left; margin:0; width: 20%;"> {{name}} </div>
<div id="price" style="float:left; margin:0;width:20%;"> $ {{price}} </div>
<button id="edit">Edit</button>
<button id="stock">Out of Stock</button>
<br> <br>